
@media screen and (max-width: 1400px) {
    
    .img-slider {
        height: 420px;
    }

    .tagline h1 {
        font-size: 50px;
    }

    .container-progress:before {
        left: 55.4%;
        height: 13%;
    }
}

@media screen and (max-width: 1279px) {
    .container-progress:before {
        position: relative;
    }
}

@media screen and (max-width: 1200px) {

    .content {
        flex-direction: column;
    }
}

@media only screen and (min-width: 1200px) {

    .card-quotes:nth-child(1) {
        margin-left: 100px !important; 
    }

    .card-quotes:nth-child(3) {
        margin-left: 50px !important;
    }

    .heading {
        margin-left: 50px;
    }
}

@media screen and (max-width: 992px) {

    .img-slider {
        height: 350px;
    }

    .system-req {
        background-position: right;
    }

    .content-req h1 {
        font-size: 38px;
        line-height: 45px;
        padding-bottom: 20px;
    }

    .heading {
        text-align: center;
    }

    .card-quotes {
        margin-inline: auto;
    }

    .press-quotes {
        height: auto;
        padding: 100px 30px;
    }
}

@media screen and (min-width: 992px) {

    .card-quotes:nth-child(1) {
        margin-left: 50px;
    }

    .card-quotes:nth-child(3) {
        margin-left: 25px;
    }

    .form-floating {
        display: block;
    }

    .form-email {
        display: none;
    }
    
}

@media screen and (max-width: 991px) {

    .offcanvas-title {
        color: #FFB548;
        font-size: 35px;
        font-weight: 700;
    }

    .link {
        color: black;
        padding: 8px;
        padding-bottom: 20px;
    }

    .btn-close:hover {
        background-color: #FFB548;
        padding: 8px;
        border-radius: 50%;
    }

    .heading-footer h1 {
        font-size: 50px;
        letter-spacing: 2px;
    }

    .heading-footer h3 {
        font-size: 16px;
    }

    .heading-footer p {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {

    .img-slider {
        height: 250px;
    }

    .specs h3 {
        font-size: 20px;
    }

    .footer-item {
        margin: 2px 10px;
    }

    .menu-footer {
        font-size: 10px;
    }

    .main-foot {
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {

    .hero-tagline h1 {
        font-size: 46px;
        line-height: 60px;
        margin-top: 40%;
    }

    .hero-tagline h3 {
        font-size: 20px;
    }
    
    .img-slider {
        height: 180px;
    }   

    .card-quotes {
        width: 300px;
        height: 150px;
    }

    .heading {
        margin-bottom: 25px;
    }

    .heading h1 {
        font-size: 40px;
        line-height: 50px;
        font-weight: 400;
        letter-spacing: 2px;
    }

    .avatar {
        width: 40px;
    }

    .card-quotes blockquote {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .card-quotes p {
        font-size: 8px;
    }

    .wrapper li:nth-child(2) {
        margin-top: 15px !important;
    }

    .content-features {
        background-color: rgba(0, 0, 0, 0.405);
        width: max-content;
        padding: 10px 20px;
        margin: 10px;
        border-radius: 10px;
    }

    .heading-footer h1 {
        font-size: 40px;
        letter-spacing: 2px;
    }

    .heading-footer p {
        font-size: 12px;
    }

    .main-content {
        justify-content: center;
        padding: 10px;
    }

    .menu-footer {
        font-size: 8px;
    }

    .footer-item {
        margin: 2px 7px;
    }

    .footer-item a {
        font-size: 8px;
    }

    .container-progress {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 400px) {
    
    .heading-footer .d-flex {
        flex-direction: column;
    }
    
    .form-email {
        width: 200px;
    }

    .heading-footer .d-flex button {
        width: 150px;
        margin-left: 0;
    }
}

@media screen and (max-width: 380px) {

    .img-slider {
        width: 100%;
        height: 160px;
    }

    .card-quotes {
        width: 260px;
        height: 130px;
    }

    .card-quotes blockquote {
        font-size: 10px;
        margin-bottom: 2px;
    }

    .wrapper li:nth-child(2) {
        margin-top: 3px !important;
    }
}