@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300&display=swap');

:root {
    /* font family */
    --main-font: 'Poppins', sans-serif;
    --second-font: 'Open Sans', sans-serif;
    /* color */
    --main-color: #222831;
    --scnd-color: #393E46;
    --sub-color: #FFD369;
    --font-color: #EEEEEE;
    /* size font */
    --normal-font-size: .938rem;
    --small-font-size: .8rem;
    --smaller-font-size: 0.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ======================== BODY ======================== */

body {
    font-family: var(--second-font);
    font-size: var(--normal-font-size);
    background-color: var(--main-color);
    color: var(--font-color);
}

h1,h2,h3 {
    font-family: var(--main-font);
    color: var(--sub-color);
    font-weight: 500;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-family: var(--main-font);
    font-weight: 200;
}

.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

/* ======================== PROFILE ======================== */
.profile {
    position: relative;
    padding-top: 3.5rem;
}

.profile-container {
    row-gap: 2rem;
}

.profile-data {
    display: grid;
    text-align: center;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.profile-img img {
    width: 75px;
}

.profile-border {
    border: 3.5px solid magenta;
    justify-self: center;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: .75rem;
}

.profile-profession {
    font-size: var(--small-font-size);
    font-weight: 500;
    margin-bottom: 1rem;
}

.sosmed {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

.sosmed-link {
    padding: 10px;
    font-size: 1.2rem;
    color: var(--font-color);
    transition: .3s ease;
}

.sosmed-link:hover {
    margin: 20px;
    color: var(--sub-color);
    background-color: var(--scnd-color);
    border-radius: 10px;
}

.profile-info {
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    column-gap: 2.5rem;
}

.info-p {
    font-size: var(--small-font-size);
}

.btn-contact {
    margin: auto;
}

.btn {
    background-color: var(--scnd-color);
    align-items: center;
    margin: 10px;
    color: var(--font-color);
    padding: 1.15rem 1.5rem;
    border-radius: 20px;
    transition: .3s ease;
    font-size: 1.3rem;
}

.btn:hover {
    background-color: var(--sub-color);
    color: var(--scnd-color);
}

.middle {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
hr {
    margin: auto;
    width: 40%;
}





